[submodule "frontendy"]
	path = frontendy
	url = https://github.com/tmazitov/frontendy.git
	branch = master
[submodule "user-management-service"]
	path = user-management-service
	url = git@github.com:sabdulki/user-management-service.git
[submodule "mmrs"]
	path = mmrs
	url = https://github.com/vlrlmn/mmrs
[submodule "gameServer"]
	path = game
	url = https://github.com/dabdygali/gameServer.git
